---
title: portfolio
---
{% include head.html %}

  <div class="slider">
    <div class="resize">
      <div class="slider-borders">
        <div id="coin-slider"> <a href="#"><img src="images/slide1.jpg" width="940" height="310" alt="" /> </a> <a href="#"><img src="images/slide2.jpg" width="940" height="310" alt="" /> </a> <a href="#"><img src="images/slide3.jpg" width="940" height="310" alt="" /> </a></div>
        <div class="clr"></div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="resize cf">
      <div class="mainbar">
        <div class="article">
          <h2><span>Bienvenidos</span> a mi portfolio</h2>
            <p>Bienvenidos a mi pequeña galería de trabajos en internet. Aquí podréis encontrar una muestra de mis diferentes proyectos de ilustración y fotografía. Si os interesa mi portfolio y queréis ver más muestras no dudéis en comunicaros conmigo a través de la pestaña Contacto. También podéis ver otras galerías en <a href="http://barbnara.deviantart.com" target="_new">Deviantart</a> y <a href="http://barbhernandez.carbonmade.com" target="new">Carbonmade</a>. ¡Gracias y disfrutad de vuestra estancia aquí!</p>
        </div>
      </div>
    </div>
  </div>

{% include foot.html %}

