---
title: proyectos
root: "../"
---
{% include head.html %}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>Tinta</h2>
          <div class="clr gallery">
            <a rel="tinta" href="../images/proyectos/bamboo.jpg" title="Bambu"><img src="../images/proyectos/bambu_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/flor.jpg" title="Flor de cerezo"><img src="../images/proyectos/cerezo_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/brotar.jpg" title="Brotar"><img src="../images/proyectos/brotar_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/yacer.jpg" title="Yacer"><img src="../images/proyectos/yacer_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/ecos.jpg" title="Ecos de voces futuras"><img src="../images/proyectos/ecos_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/despertar.jpg" title="El Despertar"><img src="../images/proyectos/despertar_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/expectante.jpg" title="Expectante"><img src="../images/proyectos/expectante_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/music.jpg" title="Música y Baile"><img src="../images/proyectos/musica_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/steam.jpg" title="Steam Quixote"><img src="../images/proyectos/quixote_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/reflejo.jpg" title="Reflejo"><img src="../images/proyectos/reflejo_thumb.gif"/></a>
            <a rel="tinta" href="../images/proyectos/steamart.jpg" title="Steam Art"><img src="../images/proyectos/steamart_thumb.gif"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>Arte digital</h2>
          <div class="clr gallery">
            <a rel="Arte Digital" href="../images/proyectos/nutz.jpg" title="Nutz"><img src="../images/proyectos/nutz_thumb.gif"/></a>
            <a rel="Arte Digital" href="../images/proyectos/portada.jpg" title="Portada Imaginarios Junio 2010"> <img src="../images/proyectos/imaginarios_thumb.gif"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>Foto</h2>
          <div class="clr gallery">
            <a href="../images/proyectos/foto1.jpg" rel="Fotografía" title="Lovely Guerrilla"><img src="../images/proyectos/foto1_thumb.gif"/></a>
            <a href="../images/proyectos/foto2.jpg" rel="Fotografía" title="Lovely Guerrilla"><img src="../images/proyectos/foto2_thumb.gif"/></a>
            <a href="../images/proyectos/foto3.jpg" rel="Fotografía" title="Lovely Guerrilla"><img src="../images/proyectos/foto3_thumb.gif"/></a>
            <a href="../images/proyectos/foto4.jpg" rel="Fotografía" title="Feel the Power"><img src="../images/proyectos/foto4_thumb.gif"/></a>
            <a href="../images/proyectos/foto5.jpg" rel="Fotografía" title="These heels were made for walking"> <img src="../images/proyectos/foto5_thumb.gif"/></a>
            <a href="../images/proyectos/foto6.jpg" rel="Fotografía" title="Tenebrae"><img src="../images/proyectos/foto6_thumb.gif"/></a>
            <a href="../images/proyectos/foto7.jpg" rel="Fotografía" title="Tenebrae"><img src="../images/proyectos/foto7_thumb.gif"/></a>
        </div>
      </div>
    </div>
  </div>

{% include foot.html %}
