<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="keywords"content="barb,hernandez,arte,10,arte10,informatica,ilustracion,tinta,imaginarios,fotografia"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/coin-slider.css" />
  <link rel="stylesheet" type="text/css" href="/css/colorbox/colorbox.css" />
  <script type="text/javascript" src="/js/cufon-yui.js"></script>
  <script type="text/javascript" src="/js/droid_sans_400-droid_sans_700.font.js"></script>
  <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <script type="text/javascript" src="/js/coin-slider.min.js"></script>
  <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="resize">
      <div class="menu_nav">
        <ul>
        {% for link in site.nav %}
          {% assign active = '' %}
          {% capture ugly_url %}{{ link.path }}index.html{% endcapture %}
          {% if page.url == ugly_url %}{% assign active = 'active' %}{% endif %}
          <li class="{{ active }}"><a href="{{ link.path }}">{{ link.text }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="logo">
        <h1><a href="/">Barb <small>{{ page.title }}</small></a></h1>
      </div>
  </div>
  </div>
