---
title: Contacto
root: "../"
---

{% include head.html %}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Contacto</span></h2>
          <p>Si quieres saber más sobre mi trabajo o te interesa proponerme algún proyecto o colaboración no dudes en ponerte en contacto conmigo. ¡Gracias!</p>
          <form action="mailto:bhernandezbenito@gmail.com" method="post" id="sendemail">
            <ol>
              <li>
                <label for="name">Nombre (requerido)</label>
                <input id="name" name="name" class="text" />
              </li>
              <li>
                <label for="email">E-mail (requerido)</label>
                <input id="email" name="email" class="text" />
              </li>
              <li>
                <label for="website">Página web</label>
                <input id="website" name="website" class="text" />
              </li>
              <li>
                <label for="message">Tu mensaje</label>
                <textarea id="message" name="message" rows="8" cols="50"></textarea>
              </li>
              <li>
                 <input type="submit" value="enviar"/>
              </li>
            </ol>
          </form>
        </div>
      </div>
    </div>
  </div>

{% include foot.html %}
